@import "functions";
@import "helpers/variables";
@import "mixins";

@import "root";
@import "print";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";


//variables


//Costum

.costum-shadow {
    box-shadow: 1px 4px 5px rgba(0, 0, 0, .05); //!important;
}

.costum-shadow:hover {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, .15) !important;
}

.bg-gradient-dark {
    bottom: 0px;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .35));
    background: -o-linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .35));
    background: -moz-linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .35));
    background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .35));
}

.hover-show {
    opacity: 0;
    transition: all .35s;

}

.hover-show-text {
    transition: all .35s;
    transform: translateY(10px);
}

.fadeIn {
    opacity: 1;
}


.scale {
    transform: scale(1);
    transition: .5s;
}

.scale:hover {
    transform: scale(1.05);
    transition: .5s;
}


//Layout

.navbar-brand {
    img {
        height: 22px;
    }
}

.news {
    max-width: 700px;
    margin-top: 145px;

    @media (max-width: 850px) {
        font-size: 18px;
        height: 65px;
    }
}

.tab {
    max-width: 85%;

    a {
        font-size: 30px;
        padding: 7px 15px;
    }
}


footer {
    font-size: 14px;
}

.wrap {
    margin-top: 145px;
}

.fixed-bottom {
    font-size: 14px;
    width: 30px;

    @media (max-width: 576px) {
        position: relative;
        width: 100%;
        right: 0;

    }
}


.clickdown-menu {
display: none;
    // transition: .5s;
    // top:300px;
    // z-index:2000;

    h5 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    p {
        font-size: 14px;
        margin-bottom: 2px;
    }

}

.show{
    display: block;
}